* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #b0cced;
}

.navbar {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar img {
    margin-right: 10px;
}

.navbtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90px;
    color: black;
    text-decoration: none;
}

.navbtn:hover a {
    color: white;
    background: linear-gradient(azure, blue, azure);
}

.navbar {
    background: linear-gradient(azure,#edd1b0);
}

#footer-container {
    background: linear-gradient(#edd1b0,azure);
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.footer {
    padding:10px;
}

#restricted {
    background: black;
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
}

#restricted:hover {
    background: linear-gradient( red, darkgray, red);
    color: white;
}